<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/dtd/web-app_2_3.dtd http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

    <description>web.xml file for HIS L2</description>
    <context-param>
        <param-name>url_rest</param-name>
        <param-value>http://localhost:8080/vnpthis/RestService</param-value>
    </context-param>
    <context-param>
        <param-name>url_report</param-name>
        <param-value>http://localhost:8081/dreport/</param-value>
    </context-param>
    <context-param>
        <param-name>rpt_dir</param-name>
        <param-value>D:/VNPT_201912/HISL2_CODE/HISL2_SPINT06/PM2_VNPTHISL2_CODE/WEBROOT/WEB-INF/rpt/</param-value>
    </context-param>

    <context-param>
        <param-name>report_session_param</param-name>
        <!-- 	 <param-value>[SCH],[UID],[HID],thu@nnc,UUID,dept_name,province_name</param-value> -->
        <param-value>DB_SCHEMA,DB_NAME,PROVINCE_ID,COMPANY_ID,USER_GROUP_ID,USER_ID,dept_name,subdept_name</param-value>
    </context-param>

    <context-param>
        <param-name>db_name</param-name>
        <param-value>jdbc/HISL2DS</param-value>
    </context-param>
    <context-param>
        <param-name>db_info</param-name>
        <param-value>jdbc/RESTSERVICEDS</param-value>
    </context-param>
    <context-param>
        <param-name>start_page</param-name>
        <param-value>/main/manager.jsp?func=../admin/SelDept</param-value>
    </context-param>
    <context-param>
        <param-name>db_report</param-name>
        <param-value>jdbc/DYNAMICREPORTDS</param-value>
    </context-param>
    <context-param>
        <param-name>rpt_schema</param-name>
        <param-value>HIS_DREPORT.</param-value>
    </context-param>
    <context-param>
        <param-name>media_schema</param-name>
        <param-value>HIS_COMMON.</param-value>
    </context-param>
    <context-param>
        <param-name>media_store</param-name>
        <param-value>db</param-value>
    </context-param>

    <context-param>
        <param-name>db_type</param-name>
        <param-value>ORACLE</param-value>
    </context-param>
    <context-param>
        <param-name>report_type</param-name>
        <param-value>JasperReport</param-value>
    </context-param>

    <context-param>
        <param-name>report_max</param-name>
        <param-value>1000000</param-value>
    </context-param>

    <context-param>
        <param-name>captcha</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>otp_login</param-name>
        <param-value>0</param-value>
    </context-param>
    <context-param>
        <param-name>dllkdaily_flag</param-name>
        <param-value>1</param-value>
    </context-param>
    <servlet>
        <servlet-name>SmsSendConfirm</servlet-name>
        <servlet-class>com.vnpthis.serv.SmsSendConfirm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SmsSendConfirm</servlet-name>
        <url-pattern>/sms/send-callback</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SmsApi</servlet-name>
        <servlet-class>com.vnpthis.serv.SmsApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SmsApi</servlet-name>
        <url-pattern>/SmsApi</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SmsTemplateApi</servlet-name>
        <servlet-class>com.vnpthis.sms.SmsTemplateApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SmsTemplateApi</servlet-name>
        <url-pattern>/SmsTemplateApi</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SmsTemplateCallbackApi</servlet-name>
        <servlet-class>com.vnpthis.sms.SmsCallbackApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SmsTemplateCallbackApi</servlet-name>
        <url-pattern>/sms/send-callback-template</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MailSendConfirm</servlet-name>
        <servlet-class>com.vnpthis.mail.MailCallbackApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MailSendConfirm</servlet-name>
        <url-pattern>/mail/send-callback</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MailApi</servlet-name>
        <servlet-class>com.vnpthis.mail.MailApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MailApi</servlet-name>
        <url-pattern>/MailApi</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SmartCAConfirm</servlet-name>
        <servlet-class>com.vnpthis.serv.SmartCAConfirm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SmartCAConfirm</servlet-name>
        <url-pattern>/smart-ca/callback</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DevelopmentApi</servlet-name>
        <servlet-class>com.vnpthis.dev.DevelopmentApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DevelopmentApi</servlet-name>
        <url-pattern>/dev</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SmartCADtdt</servlet-name>
        <servlet-class>svc.OnlinePrescriptionConfirm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SmartCADtdt</servlet-name>
        <url-pattern>/smart-ca/callback-dtdt</url-pattern>
    </servlet-mapping>

    <!-- finger ca start -->
    <servlet>
        <servlet-name>CheckFinger</servlet-name>
        <servlet-class>com.vnpthis.serv.CheckFingerCA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckFinger</servlet-name>
        <url-pattern>/finger-ca/check</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterFinger</servlet-name>
        <servlet-class>com.vnpthis.serv.RegisterFingerCA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterFinger</servlet-name>
        <url-pattern>/finger-ca/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FingerCAConfirm</servlet-name>
        <servlet-class>com.vnpthis.serv.FingerCAConfirm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FingerCAConfirm</servlet-name>
        <url-pattern>/finger-ca/callback</url-pattern>
    </servlet-mapping>
    <!-- finger ca end -->

    <!-- HieuBD Payment Gateway START -->
    <servlet>
        <servlet-name>PaymentCreateQrCodeApi</servlet-name>
        <servlet-class>com.vnpthis.PaymentHelper.PaymentCreateQrCodeApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentCreateQrCodeApi</servlet-name>
        <url-pattern>/api/payment/genqrcode</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaymentQRConfirmApi</servlet-name>
        <servlet-class>com.vnpthis.PaymentHelper.PaymentQRConfirmApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentQRConfirmApi</servlet-name>
        <url-pattern>/api/payment/qr/confirm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PaymentGWConfirmApi</servlet-name>
        <servlet-class>com.vnpthis.PaymentHelper.PaymentGWConfirmApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentGWConfirmApi</servlet-name>
        <url-pattern>/api/payment/gw/confirm</url-pattern>
    </servlet-mapping>

    <!--  refun -->
    <servlet>
        <servlet-name>PaymentRefun</servlet-name>
        <servlet-class>com.vnpthis.Payment.Api.RefunApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentRefun</servlet-name>
        <url-pattern>/api/payment/refun</url-pattern>
    </servlet-mapping>

    <!-- MinhTA Refund VNPT PAY -->
    <servlet>
        <servlet-name>PaymentVnptPayRefundApi</servlet-name>
        <servlet-class>com.vnpthis.PaymentHelper.PaymentVnptPayRefundApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentVnptPayRefundApi</servlet-name>
        <url-pattern>/api/payment/vnptpay/refund</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PaymentVnptPayRefundConfirmApi</servlet-name>
        <servlet-class>com.vnpthis.PaymentHelper.PaymentVnptPayRefundConfirmApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentVnptPayRefundConfirmApi</servlet-name>
        <url-pattern>/api/payment/vnptpay/confirm</url-pattern>
    </servlet-mapping>
    <!-- MinhTA Refund VNPT PAY -->

    <!--  Bidv -->
    <servlet>
        <servlet-name>BidvPaymentApiLogTrans</servlet-name>
        <servlet-class>com.vnpthis.Payment.Api.BidvPaymentApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BidvPaymentApiLogTrans</servlet-name>
        <url-pattern>/api/payment/bidv/logtrans</url-pattern>
    </servlet-mapping>
    <!-- HieuBD Payment Gateway END -->

    <!--    ngocnva lienvietpostbank-->
    <servlet>
        <servlet-name>QrCodeApi</servlet-name>
        <servlet-class>com.vnpthis.bank.QrCodeApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QrCodeApi</servlet-name>
        <url-pattern>/api/payment/qrcode</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QrCodeMercApi</servlet-name>
        <servlet-class>com.vnpthis.bank.QrCodeByMercApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QrCodeMercApi</servlet-name>
        <url-pattern>/api/payment/qrcode-mer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SourceControl</servlet-name>
        <servlet-class>com.vnpthis.internal.SourceControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SourceControl</servlet-name>
        <url-pattern>/api/source-control</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaymentConfirm</servlet-name>
        <servlet-class>com.vnpthis.bank.PaymentConfirm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentConfirm</servlet-name>
        <url-pattern>/api/payment/confirm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransNotifyRefund</servlet-name>
        <servlet-class>com.vnpthis.bank.TransNotifyRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransNotifyRefund</servlet-name>
        <url-pattern>/api/payment/refund</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QueryInfor</servlet-name>
        <servlet-class>com.vnpthis.bank.QueryInformation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryInfor</servlet-name>
        <url-pattern>/api/payment/query-info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PayQueryInfo</servlet-name>
        <servlet-class>com.vnpthis.bank.PayQueryInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PayQueryInfo</servlet-name>
        <url-pattern>/api/payment/pay-query-info</url-pattern>
    </servlet-mapping>
    <!--    ngocnva lienvietpostbank-->

    <!-- HieuBD Payment Cổng dịch vụ công quốc gia START -->
    <servlet>
        <servlet-name>TraCuuVienPhiApi</servlet-name>
        <servlet-class>com.vnpthis.CDVCQG.TraCuuVienPhiApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TraCuuVienPhiApi</servlet-name>
        <url-pattern>/api/cdvc/bvtracuuthanhtoanvp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ThanhToanVienPhiApi</servlet-name>
        <servlet-class>com.vnpthis.CDVCQG.ThanhToanVienPhiApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThanhToanVienPhiApi</servlet-name>
        <url-pattern>/api/cdvc/bvnhankqthanhtoanvp</url-pattern>
    </servlet-mapping>
    <!-- HieuBD Payment Cổng dịch vụ công quốc gia END -->

    <servlet>
        <servlet-name>PaymentWS</servlet-name>
        <servlet-class>com.vnpthis.Payment.Api.PaymentWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentWS</servlet-name>
        <url-pattern>/api/service/payment/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JasperUpload</servlet-name>
        <servlet-class>report.JasperUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JasperUpload</servlet-name>
        <url-pattern>/JasperUpload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestChangeS</servlet-name>
        <servlet-class>com.vnpthis.internal.RequestChangeS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestChangeS</servlet-name>
        <url-pattern>/RequestChangeS</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestWebHook</servlet-name>
        <servlet-class>com.vnpthis.internal.TestWebHook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestWebHook</servlet-name>
        <url-pattern>/TestWebHook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ThirdPartyCaller</servlet-name>
        <servlet-class>com.vnpthis.serv.ThirdPartyCaller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThirdPartyCaller</servlet-name>
        <url-pattern>/ThirdPartyCaller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IdgStorageUpload</servlet-name>
        <servlet-class>web.IDGStorageUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IdgStorageUpload</servlet-name>
        <url-pattern>/IdgStorageUpload</url-pattern>
    </servlet-mapping>

    <!-- - Khai bao Gateway, iQMS -->
    <servlet>
        <servlet-name>CallHISL3API</servlet-name>
        <servlet-class>svc.CallHISL3API</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CallHISL3API</servlet-name>
        <url-pattern>/hisl3api/*</url-pattern>
    </servlet-mapping>
    <!-- - Khai bao Gateway, iQMS -->

    <servlet>
        <servlet-name>JrxmlStorage</servlet-name>
        <servlet-class>report.JrxmlStorage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JrxmlStorage</servlet-name>
        <url-pattern>/JrxmlStorage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>manager</servlet-name>
        <servlet-class>main.manager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manager</servlet-name>
        <url-pattern>/main/manager.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RestService</servlet-name>
        <servlet-class>AjaxUtil.RestService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestService</servlet-name>
        <url-pattern>/RestService</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AjaxService</servlet-name>
        <servlet-class>AjaxUtil.AjaxService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxService</servlet-name>
        <url-pattern>/AjaxService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OAuthen2</servlet-name>
        <servlet-class>com.vnpthis.oauthen2.OAuthen2Api</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OAuthen2</servlet-name>
        <url-pattern>/api/gettoken</url-pattern>
        <url-pattern>/api/v2/gettoken</url-pattern>
        <url-pattern>/api/v2/token</url-pattern>
        <url-pattern>/kiosk/api/v1/authen/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OAuthen2Hmis</servlet-name>
        <servlet-class>com.vnpthis.oauthen2.OAuthen2Api</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OAuthen2Hmis</servlet-name>
        <url-pattern>/api/token</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>LienThongHisL2</servlet-name>
		<servlet-class>svc.LienThongHisL2V2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LienThongHisL2</servlet-name>
		<url-pattern>/api/bhxh/lienthonghisl2</url-pattern>
	</servlet-mapping>

    <!-- minhta login OAuthen2 -->
    <servlet>
        <servlet-name>OAuthen2Api</servlet-name>
        <servlet-class>com.vnpthis.oauthen2.OAuthen2Api</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OAuthen2Api</servlet-name>
        <url-pattern>/api/oauthen2/token</url-pattern>
    </servlet-mapping>
    <!-- minhta login OAuthen2 -->

    <!-- minhta login sso onehealth -->
    <servlet>
        <servlet-name>LoginSSO</servlet-name>
        <servlet-class>login.LoginSSO</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSSO</servlet-name>
        <url-pattern>/sso</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutSSO</servlet-name>
        <servlet-class>login.LogoutSSO</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutSSO</servlet-name>
        <url-pattern>/servlet/login.LogoutSSO</url-pattern>
    </servlet-mapping>
    <!-- minhta login sso onehealth -->

    <servlet>
        <servlet-name>TOTPApi</servlet-name>
        <servlet-class>com.vnpthis.oauthen2.TOTPApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TOTPApi</servlet-name>
        <url-pattern>/api/auth/totp/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DataQuery</servlet-name>
        <servlet-class>com.vnpthis.api.dataquery.DataQueryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataQuery</servlet-name>
        <url-pattern>/api/service/DataQuery/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HISGateway</servlet-name>
        <servlet-class>com.vnpthis.api.lienthong.HISGatewayController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HISGateway</servlet-name>
        <url-pattern>/api/hisgw/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LienthongGW</servlet-name>
        <servlet-class>com.vnpthis.api.lienthong.LienThongGatewayController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LienthongGW</servlet-name>
        <url-pattern>/api/gw/lienthong/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SmartAds</servlet-name>
        <servlet-class>com.vnpthis.api.smartads.SmartAdsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SmartAds</servlet-name>
        <url-pattern>/api/service/smartads/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TextToSpeech</servlet-name>
        <servlet-class>com.vnpthis.api.smartvoice.SmartVoiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TextToSpeech</servlet-name>
        <url-pattern>/api/service/text-to-speech</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KioskETC</servlet-name>
        <servlet-class>com.vnpthis.api.kiosk.ETCKioskController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KioskETC</servlet-name>
        <url-pattern>/kiosk/api/v1/*</url-pattern>
    </servlet-mapping>
    
    <!-- minhta ioc api -->
    <servlet>
        <servlet-name>IOCApi</servlet-name>
        <servlet-class>com.vnpthis.IOC.IOCApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IOCApi</servlet-name>
        <url-pattern>/api/iocapi</url-pattern>
    </servlet-mapping>
    <!-- minhta ioc api  -->

    <servlet>
        <servlet-name>Api_Net</servlet-name>
        <servlet-class>svc.GetDataL2WS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Api_Net</servlet-name>
        <url-pattern>/api/KiemTraLDT</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Api_Net_LS_KCB</servlet-name>
        <servlet-class>svc.GetDataLSKCBWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Api_Net_LS_KCB</servlet-name>
        <url-pattern>/api/LichSuKCB</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Api_GW_LS_KCB</servlet-name>
        <servlet-class>svc.GetDataLSKCBGW</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Api_GW_LS_KCB</servlet-name>
        <url-pattern>/LamDungThe/LichSuKCB_GW</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Api_GW_LDT</servlet-name>
        <servlet-class>svc.GetDataLDTGW</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Api_GW_LDT</servlet-name>
        <url-pattern>/LamDungThe/KiemTraLDT_GW</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Api_QLHK_GetBlock</servlet-name>
        <servlet-class>svc.GetQLHKBlockWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Api_QLHK_GetBlock</servlet-name>
        <url-pattern>/api/tracuudanhsachblockgio</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Api_QLHK_TRACUU</servlet-name>
        <servlet-class>svc.GetQLHKBlockWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Api_QLHK_TRACUU</servlet-name>
        <url-pattern>/api/qlhk/tracuu</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Api_QLHK_LienKetTK</servlet-name>
        <servlet-class>svc.GetQLHKBlockWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Api_QLHK_LienKetTK</servlet-name>
        <url-pattern>/api/qlhk/lienket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Api_QLHK_GIUCHO</servlet-name>
        <servlet-class>svc.QLHKGiuChoWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Api_QLHK_GIUCHO</servlet-name>
        <url-pattern>/api/giuchoblockgio</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Api_IOT_BenhNhanXacNhan</servlet-name>
        <servlet-class>svc.IOT_BenhNhanXacNhanWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Api_IOT_BenhNhanXacNhan</servlet-name>
        <url-pattern>/api/patient-accept-hospital-request</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Api_QLHK_CHUYENKHAM</servlet-name>
        <servlet-class>svc.QLHKChuyenKhamWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Api_QLHK_CHUYENKHAM</servlet-name>
        <url-pattern>/api/dangkyhenkhamcsyt</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>OnlinePrescriptionWS</servlet-name>
        <servlet-class>svc.OnlinePrescriptionWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OnlinePrescriptionWS</servlet-name>
        <url-pattern>/service/donThuocOnline</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InfoSystem</servlet-name>
        <servlet-class>com.vnpthis.serv.InfoSystem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InfoSystem</servlet-name>
        <url-pattern>/GETINFO_SYSTEM</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CacheReload</servlet-name>
        <servlet-class>com.vnpthis.serv.CacheReload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CacheReload</servlet-name>
        <url-pattern>/rc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DirectReport</servlet-name>
        <servlet-class>report.DirectReporting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DirectReport</servlet-name>
        <url-pattern>/report/DirectReport/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DirectBill</servlet-name>
        <servlet-class>svc.DirectBill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DirectBill</servlet-name>
        <url-pattern>/billDVC</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApiCa</servlet-name>
        <servlet-class>com.vnpthis.serv.CaApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiCa</servlet-name>
        <url-pattern>/apica</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CaRptRender</servlet-name>
        <servlet-class>com.vnpthis.serv.CaRptRender</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaRptRender</servlet-name>
        <url-pattern>/carptrender</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RptRender</servlet-name>
        <servlet-class>com.vnpthis.serv.RptRender</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RptRender</servlet-name>
        <url-pattern>/rptrender</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CaListRender</servlet-name>
        <servlet-class>com.vnpthis.serv.CaListRender</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaListRender</servlet-name>
        <url-pattern>/calistrender</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmrTreatmentInfoRender</servlet-name>
        <servlet-class>com.vnpthis.serv.EmrTreatmentInfoRender</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmrTreatmentInfoRender</servlet-name>
        <url-pattern>/emr-treatment-info-render</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApiCaRpt</servlet-name>
        <servlet-class>com.vnpthis.serv.CaApiReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiCaRpt</servlet-name>
        <url-pattern>/apicarpt</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CaApiClosed</servlet-name>
        <servlet-class>com.vnpthis.serv.CaApiClosed</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaApiClosed</servlet-name>
        <url-pattern>/CaApiClosed</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApiCaTocken</servlet-name>
        <servlet-class>com.vnpthis.serv.CaApiSignToken</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiCaTocken</servlet-name>
        <url-pattern>/apicatocken</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApiTockenConfirm</servlet-name>
        <servlet-class>com.vnpthis.serv.CaApiSignTokenConfirm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiTockenConfirm</servlet-name>
        <url-pattern>/apitockenconfirm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmrPortalApi</servlet-name>
        <servlet-class>com.vnpthis.serv.EmrPortalApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmrPortalApi</servlet-name>
        <url-pattern>/apiemrportal</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmrSenderJob</servlet-name>
        <servlet-class>com.vnpthis.serv.EmrSenderJob</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmrSenderJob</servlet-name>
        <url-pattern>/apijobemr</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmrApiReport</servlet-name>
        <servlet-class>com.vnpthis.serv.EmrApiReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmrApiReport</servlet-name>
        <url-pattern>/apiemrrpt</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmrDelete</servlet-name>
        <servlet-class>com.vnpthis.serv.EmrDeleteReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmrDelete</servlet-name>
        <url-pattern>/apiemrdelete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewCaReport</servlet-name>
        <servlet-class>com.vnpthis.serv.ApiViewCAReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCaReport</servlet-name>
        <url-pattern>/viewcareport</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmrViewReport</servlet-name>
        <servlet-class>com.vnpthis.serv.EmrViewReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmrViewReport</servlet-name>
        <url-pattern>/emrviewreport</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmrGetXml</servlet-name>
        <servlet-class>com.vnpthis.serv.ApiGetXmlCA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmrGetXml</servlet-name>
        <url-pattern>/emrgetxml</url-pattern>
    </servlet-mapping>

    <!--	<servlet>-->
    <!--		<servlet-name>EmrApiTreatment</servlet-name>-->
    <!--		<servlet-class>com.vnpthis.serv.EmrApiTreatment</servlet-class>-->
    <!--	</servlet>-->
    <!--	<servlet-mapping>-->
    <!--		<servlet-name>EmrApiTreatment</servlet-name>-->
    <!--		<url-pattern>/apiemrtrem</url-pattern>-->
    <!--	</servlet-mapping>-->

    <servlet>
        <servlet-name>ViewReport</servlet-name>
        <servlet-class>report.ViewReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewReport</servlet-name>
        <url-pattern>/report/viewReport.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReportDirect</servlet-name>
        <servlet-class>report.ReportDirectz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportDirect</servlet-name>
        <url-pattern>/ReportDirect</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReportList</servlet-name>
        <servlet-class>report.ReportList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportList</servlet-name>
        <url-pattern>/report/ReportList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReportCAView</servlet-name>
        <servlet-class>report.ReportCAViewer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportCAView</servlet-name>
        <url-pattern>/report/ReportCAView</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registerReport</servlet-name>
        <servlet-class>report.servlet.registerReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerReport</servlet-name>
        <url-pattern>/report/registerReport</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>xlsDoReportImp</servlet-name>
        <servlet-class>report.servlet.xlsDoReportImp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xlsDoReportImp</servlet-name>
        <url-pattern>/report/xlsDoReportImp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ParamBuilder</servlet-name>
        <servlet-class>report.servlet.ParamBuilder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParamBuilder</servlet-name>
        <url-pattern>/report/parameter/ParamBuilder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>xlsReport</servlet-name>
        <servlet-class>AjaxUtil.xlsReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xlsReport</servlet-name>
        <url-pattern>/report/parameter/xlsReport</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MergeXlsx</servlet-name>
        <servlet-class>AjaxUtil.MergeXlsx</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MergeXlsx</servlet-name>
        <url-pattern>/thbc/mergeBc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ValidatePatient</servlet-name>
        <servlet-class>login.ValidatePatient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidatePatient</servlet-name>
        <url-pattern>/servlet/login.ValidatePatient</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>
			com.metaparadigm.jsonrpc.JSONRPCServlet
        </servlet-name>
        <servlet-class>
			com.metaparadigm.jsonrpc.JSONRPCServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
			com.metaparadigm.jsonrpc.JSONRPCServlet
        </servlet-name>
        <url-pattern>/JSON-RPC</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jcaptcha</servlet-name>
        <servlet-class>common.servlet.SimpleImageCaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jcaptcha</servlet-name>
        <url-pattern>/login/SimpleImageCaptchaServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Api_IQMS_KHOA</servlet-name>
        <servlet-class>svc.IQMS_DANHMUC_KHOA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Api_IQMS_KHOA</servlet-name>
        <url-pattern>/api/iqms_danhmuc_khoa</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Api_IQMS_PHONG</servlet-name>
        <servlet-class>svc.IQMS_DANHMUC_PHONG</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Api_IQMS_PHONG</servlet-name>
        <url-pattern>/api/iqms_danhmuc_phong</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Api_IQMS_BACSY</servlet-name>
        <servlet-class>svc.IQMS_DANHMUC_BACSY</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Api_IQMS_BACSY</servlet-name>
        <url-pattern>/api/iqms_danhmuc_bacsy</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>API_IQMS</servlet-name>
        <servlet-class>svc.IQMSWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>API_IQMS</servlet-name>
        <url-pattern>/api/iqms/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ERM_BGHSBA</servlet-name>
        <servlet-class>svc.EmrApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ERM_BGHSBA</servlet-name>
        <url-pattern>/api/EMR_BGHSBA</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>/login/login.jsp</welcome-file>
    </welcome-file-list>


    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/common/jsp/ShowError.jsp</location>
    </error-page>

    <servlet>
        <servlet-name>ValidateUser</servlet-name>
        <servlet-class>login.ValidateUser</servlet-class>
        <init-param>
            <param-name>loginValidPage</param-name>
            <param-value>/login/login.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>loginInvalidPage</param-name>
            <param-value>/login/login.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPage</param-name>
            <param-value>/login/DetectProxy.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>loginPage</param-name>
            <param-value>/login/login.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>expirePage</param-name>
            <param-value>/login/expired.jsp</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>SendSMSUser</servlet-name>
        <servlet-class>otp.controller.SendSMSUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendSMSUser</servlet-name>
        <url-pattern>/servlet/otp.controller.SendSMSUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckOtpLogin</servlet-name>
        <servlet-class>login.ValidateOTP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckOtpLogin</servlet-name>
        <url-pattern>/checkotp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckOtpSmsLogin</servlet-name>
        <servlet-class>login.OtpSms</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckOtpSmsLogin</servlet-name>
        <url-pattern>/checkotpsms</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ValidateUser</servlet-name>
        <url-pattern>/servlet/login.ValidateUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>login.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/servlet/login.Logout</url-pattern>
    </servlet-mapping>

<!--    <servlet>-->
<!--        <servlet-name>CheckTOTP</servlet-name>-->
<!--        <servlet-class>login.ValidateTOTP</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>CheckTOTP</servlet-name>-->
<!--        <url-pattern>/checktotp</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet>-->
<!--        <servlet-name>ChangePassword</servlet-name>-->
<!--        <servlet-class>/login/changePassword.jsp</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>ChangePassword</servlet-name>-->
<!--        <url-pattern>/login/ChangePassword</url-pattern>-->
<!--    </servlet-mapping>-->
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>login.ResetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/login/ResetPassword</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AxisServlet</servlet-name>
        <servlet-class>
			org.apache.axis.transport.http.AxisServlet
        </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>
			org.apache.axis.transport.http.AdminServlet
        </servlet-class>
        <load-on-startup>100</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>SOAPMonitorService</servlet-name>
        <servlet-class>
			org.apache.axis.monitor.SOAPMonitorService
        </servlet-class>
        <init-param>
            <param-name>SOAPMonitorPort</param-name>
            <param-value>5001</param-value>
        </init-param>
        <load-on-startup>100</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/servlet/AxisServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SOAPMonitorService</servlet-name>
        <url-pattern>/SOAPMonitor</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>60000</session-timeout>
    </session-config>


    <filter>
        <filter-name>XssFilter</filter-name>
        <filter-class>AjaxUtil.XssFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XssFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
    <filter>
        <filter-name>ValidationFilter</filter-name>
        <filter-class>common.filters.ValidationFilter</filter-class>
        <init-param>
            <param-name>loginValidPage</param-name>
            <param-value>/login/login.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>loginInvalidPage</param-name>
            <param-value>/login/login.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPage</param-name>
            <param-value>/login/DetectProxy.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>loginPage</param-name>
            <param-value>/login/login.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>expirePage</param-name>
            <param-value>/login/expired.jsp</param-value>
        </init-param>
    </filter>


    <filter-mapping>
        <filter-name>ValidationFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ValidationFilter</filter-name>
        <url-pattern>/main/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ValidationFilter</filter-name>
        <url-pattern>/servlet/report/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>DataPagesLayoutFilter</filter-name>
        <filter-class>common.filters.LayoutFilter</filter-class>
        <init-param>
            <param-name>layoutFilePath_vi</param-name>
            <param-value>layouts/vn/DataPagesLayout.htm</param-value>
        </init-param>
        <init-param>
            <param-name>layoutFilePath_en</param-name>
            <param-value>layouts/en/DataPagesLayout.htm</param-value>
        </init-param>
        <init-param>
            <param-name>layoutFilePath_dlg</param-name>
            <param-value>layouts/vn/DataPagesLayout_dlg.htm</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>DataPagesLayoutFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DataPagesLayoutFilter</filter-name>
        <url-pattern>/main/manager.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DataPagesLayoutFilter</filter-name>
        <url-pattern>/main/index.jsp</url-pattern>
    </filter-mapping>

     <!--<filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.vnpthis.dev.CORSDevelopmentFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <!-- 
    <filter>
	    <filter-name>javamelody</filter-name>
	    <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
	    <async-supported>true</async-supported>
	</filter>
	<filter-mapping>
	    <filter-name>javamelody</filter-name>
	    <url-pattern>/*</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<listener>
	    <listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>
 	-->

    <!--  check session counter -->
    <!-- 
 	<listener>
		<listener-class>svc.MySessionCounter</listener-class>
	</listener>
 	-->
   <!-- <listener>
        <listener-class>svc.HL7_BootTester</listener-class>
    </listener>
    <listener>
        <listener-class>svc.HL7_Bootloader</listener-class>
    </listener>
    <listener>
        <listener-class>AjaxUtil.CacheSessionListener</listener-class>
    </listener>-->
    <!-- job day xml len cong du lieu y te-->
	<listener>
		<listener-class>svc.XMLBYT</listener-class>
	</listener>
	
	<!-- job day cong lien thong du lieu y te-->
    <!-- 
    <listener>
        <listener-class>com.vnpthis.onehealth.consumer.OneHealthSyncListener</listener-class>
    </listener>
    -->
    <mime-mapping>
        <extension>wsdl</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>


    <mime-mapping>
        <extension>xsd</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>
    <error-page>
        <!-- Missing login -->
        <error-code>400</error-code>
        <location>/common/jsp/BadRequestError.jsp</location>
    </error-page>
    <error-page>
        <!-- Missing login -->
        <error-code>401</error-code>
        <location>/common/jsp/ShowError.jsp</location>
    </error-page>
    <error-page>
        <!-- Forbidden directory listing -->
        <error-code>403</error-code>
        <location>/common/jsp/ShowError.jsp</location>
    </error-page>
    <error-page>
        <!-- Missing resource -->
        <error-code>404</error-code>
        <location>/common/jsp/ShowError.jsp</location>
    </error-page>
    <error-page>
        <!-- Uncaught exception -->
        <error-code>500</error-code>
        <location>/common/jsp/ShowError.jsp</location>
    </error-page>
    <error-page>
        <!-- Unsupported servlet method -->
        <error-code>503</error-code>
        <location>/common/jsp/ShowError.jsp</location>
    </error-page>
</web-app>
